*~
/*-[0-9][0-9].xml
archive.json
draft-demarco-acme-openid-federation.xml
Gemfile.lock
/.gems/
*.html
/lib
/.*.mk
/node_modules/
package-lock.json
*.pdf
*.redxml
/.refcache
report.xml
*.swp
.tags
/.targets.mk
*.txt
*.upload
/.venv/
/versioned/
/.vscode/
!requirements.txt
